
fieldset{
  display:flex;
  flex-direction: column;
  font-size: 1.25em;
  border: 5px solid #1F2232;
  margin: 10px; 
  border-radius: 5px;
  padding: 10px;
}

#moodInput, #journalInput, #dateInput, #conceptInput, #entryBtn{
  background-color: gray;
  color: white;
}

.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: black; 
  text-shadow: 2px 2px 4px white;
}

.flex-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  /* width: 100%; */
}

.journalEntries {
  display: flex;
  flex-direction: column;
  /* width: 50%; */ 
}

.btn {
  color: black;
  background-color: white;
}

.entryDiv {
  display: flex;
  flex-direction: column;
  background-image: url('https://i.pinimg.com/originals/e6/61/75/e66175e3718ba427547aa7d6e5ab10d8.jpg');
  margin: 50px;
}

.entryText {
  text-align: start;
  margin: 10px;
}

label {
  color: black;
  font-size: 30px;
  text-shadow: 2px 2px 4px white;
}

body {
    margin: auto;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    /* Background colors */
    background: linear-gradient(to right, gold, blue, gold); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
  }

@-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
/* ^^  gradient colors ^^ */
    /* flex-direction: column;
} */
